/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CABEÇALHO */
header {
    background: #1e3a8a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* MENU */
nav {
    background: #2563eb;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

/* CONTEÚDO */
main {
    display: flex;
    gap: 20px;
    padding: 30px;
    background: #f3f4f6;
}

/* POSTS */
.posts {
    flex: 3;
}

article {
    background: #ffffff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

article h2 {
    margin-bottom: 10px;
}

/* ASIDE */
aside {
    flex: 1;
    background: #ffffff;
    padding: 20px;
    border-radius: 8px;
    height: fit-content;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}

/* RODAPÉ */
footer {
    background: #1e3a8a;
    color: #ffffff;
    text-align: center;
    padding: 15px;
}
