body { 
    background-color: #f2f2f2;
}

h1{
    text-align: center;
    color: #003366;
    font-family: Arial, sans-serif;
}

p {
    text-align: justify;
    font-size: 16px;
    line-height: 1.5;
}

.card {
    background-color: ffffff;
    border-radius: 10px0
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    padding: 20px;
    margin-buttom: 15px;
}

#menu {
    list-style: none;
    display: flex;
    gap: 15px;
    padding: 0;
}

a {
    text-decoration: none;
    color: #0066cc;
}

a:hover {
    color: #003366;
}

a:visited {
    color: #663399;
}

#tabela-dados {
    width: 100%;
    border-collapse: collapse;
}

#tabela-dados th, 
#tabela-dados td {
    border: 1px solid #ccc;
    padding: 8px;
}

#tabela-dados th {
    background-color: #003366;
    color: white;
}

#tabela-dados tr:nth-child(even) {
    background-color: #f2f2f2;
}

#container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#container .flex-item {
    flex: 1;
}

@media (max-width: 600px) {
    #container-flex {
        flex-direction: column;
    }
}

.btn {
  background-color: #0066cc;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.btn:hover {
  background-color: #003366;
}
